<!-- 
http://jonthornton.github.io/jquery-timepicker/

-->


<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
</head>

<body>

    <h1><p style="color:red">{{ error_text }}</p></h1>

    <h1>Main Page</h1>
    The date and time on the server is: {{ time }}<br>
    
    <h3> <a href="timepicker.html?UID=0" >UID0</a></h3>
    Active: {{uid0_active}} <br>
    Start: {{uid0_start}} <br>
    Stop: {{uid0_stop}} <br>    

    
    <h3> <a href="timepicker.html?UID=1" >UID1</a></h3>
    Active: {{uid1_active}} <br>
    Start: {{uid1_start}} <br>
    Stop: {{uid1_stop}} <br>    

    
    
</body>
</html>
