<!-- 
http://jonthornton.github.io/jquery-timepicker/

-->


<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
</head>

<body>

    <h1><p style="color:red">{{ error_text }}</p></h1>

    <h1>Main Page</h1>
    Server-time: {{ time }}<br>
    
    <h3> Current Status:</h3>
    {% if current_status_active == 'on' %}
    <p style="color:green">On</p>
    {% else %}
    <p style="color:red">Off</p>
    {% endif %}
    
    <h3>Manual Override</h3>
    Allows override to ON only
    <form method="POST" action="">
        <input type="hidden", name="action", value = "setOverrideFlag">
        <label>
            <input type="checkbox" name="active" value="true" {{force_override_checked}}>Force turn on
        </label>
        <input type="submit">        
    </form>  

    <h3> <a href="timepicker.html?UID=0&start={{uid0_start}}&stop={{uid0_stop}}" >Timer UID0</a></h3>
    
    {% if uid0_active == 'true' %}
    <p style="color:green">On</p>
    {% else %}
    <p style="color:red">Off</p>
    {% endif %}
    Start: {{uid0_start}} <br>
    Stop: {{uid0_stop}} <br>    

    
    <h3> <a href="timepicker.html?UID=1&start={{uid1_start}}&stop={{uid1_stop}}" >Timer UID1</a></h3>
    {% if uid1_active == 'true' %}
    <p style="color:green">On</p>
    {% else %}
    <p style="color:red">Off</p>
    {% endif %}
    Start: {{uid1_start}} <br>
    Stop: {{uid1_stop}} <br>    



    <br><br><br><br><br><br><br><br><br>

    <h3> <a href="reset.html" >System reset</a></h3>
    
</body>
</html>
